/advanceduptime/* @kreusada
/bubblewrap/* @kreusada
/codify/* @kreusada
/dehoister/* @kreusada
/edition/* @kreusada
/namegenerator/* @kreusada
/pinginvoke/* @kreusada
/pingoverride/* @kreusada
/ram/* @kreusada
/sendcards/* @kreusada
/staff/* @kreusada
/textmanipulator/* @kreusada
/timestables/* @kreusada
/vinfo/* @kreusada
/votechannel/* @kreusada