/advanceduptime/* @Kreusada
/alphanato/* @Kreusada
/blackformatter/* @Kreusada
/bubblewrap/* @Kreusada
/codify/* @Kreusada
/dehoister/* @Kreusada
/edition/* @Kreusada
/minifier/* @Kreusada
/namegenerator/* @Kreusada
/pinginvoke/* @Kreusada
/pingoverride/* @Kreusada
/quotes/* @Kreusada
/ram/* @Kreusada
/rpsls/* @Kreusada
/sendcards/* @Kreusada
/serverblock/* @Kreusada
/staff/* @Kreusada
/textmanipulator/* @Kreusada
/timestables/* @Kreusada
/vinfo/* @Kreusada
/votechannel/* @Kreusada